.loader {
  position: relative;
  width: 8em;
  height: 8em;
  border-radius: 100%;
  border: 0.1px solid rgb(224, 224, 224);
  border-top: 6px solid rgb(255, 0, 221);
  z-index: 21;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loading {
  background: white;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.hidden {
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 400px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}
#congrats,
#reset,
#result,
#score,
#title {
  text-align: center;
}
.game {
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 40%;
  top: 25%;
}
